@media (max-width: 990px){
      .save__button{
            font-size: 23px;
      }
      .delete__button{
            font-size: 23px;
      }
}

@media (max-width: 870px){
      .save__button{
            font-size: 20px;
      }
      .delete__button{
            font-size: 20px;
      }
} 

@media (max-width: 1573px){
   .person-info__column-2{
         width: 100%;
   }
} 